div{
    margin-top: 40px;
}
#search{
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
}
.btn{
    border: solid 1px black;
    margin-left: 10px;
}
h1{
    font-weight: bold;

}
h5{
    font-weight: bold;
}
img{
    box-shadow: 15px 15px 15px #012;
}